@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* GLOBALS */

* {
    margin: 0; padding: 0;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

body {

    text-align: center;
}


/* HEADER */

header {
    margin: 20pt;
}

header > h1 {
    padding-bottom: 12pt;
}

/* ALERT */

.alert {
    font-size: 0.9rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    top: 60px;
    left: calc(50% - 270px);
    z-index: 1;
    width: 600px;
    padding: 5px 20px;
    border: 1px #a1261e solid;
    box-sizing: border-box;
    background-color: #f56a60;
    color: white;
    margin: 15px auto 0px auto;
    opacity: 0.9;
    transition: opacity 0.6s;
}

.close-alert {
    margin-left: 15px;
    color: white;
    float: right;

    line-height: 1.7rem;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 300;
}

.close-alert:hover {
    color: black;
}

.hidden {
    opacity: 0;
}

/* MAIN */

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

/* FORM */

.form-container {
    width: 80%;
}

form {
    padding: 20px;
}

legend {
    padding: 0px 0px 40px 0px;
}

#get-coords-form > .form-control > * {

    justify-content: space-evenly;
}

#get-coords-form > .form-control > input[type="text"] {
    width: 40px;
    text-align: center;
    margin-left: -10px;
}

.form-control {
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}

.form-control > * {
    margin: 0px 10px 0px 10px;
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 2rem;
}

label {
    width: 100px;
    text-align: end;
}

input[type="text"] {
    border: 1px lightgray solid;
    
}

input[type="radio"] {
    cursor: pointer;
}

.radio-container {

    display: grid;
    grid-template-columns: 1rem auto 1rem auto;
    gap: 0.5rem;
}

.radio-container > * {
    margin: 0;
    padding: 0;
   
}

.radio-container > label {
    width: 80px;
    text-align: left;
}


input[type="submit"] {
    margin-left: 20px;
    background-color: #7CB342;
    width: 90px;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
}

input[type="submit"]:hover, input[type="submit"]:active {
    background-color: #558B2F;
}



#submit-coords {
    margin-top: 20px;
}

/* BOARDS */

.board-container {
    height: 500px;
    width: 500px;
    border: 1px black solid;
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
    margin: 25px;

}

#board-Jasper {
    cursor: pointer;
}




/* CELLS */

.cell {
    border: 1px black solid;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    font-size: 0.9rem;
    background-color: #0D47A1;
}

#board-Jasper .cell.open:hover {
    background-color: #82B1FF;
}

.cell-ship {
    background-color: #FF5733;
}

.cell-ship::before {
    content: 'ship';
}

.cell-miss {
    background-color: #D4E157;
}

.cell-miss::before {
    content: 'miss';
}

.cell-hit {
    background-color: #F44336;
}

.cell-hit::before {
    content: 'hit';
}


/* FOOTER */

footer {
    padding-top: 13%;
    bottom: 0;
    font-size: 10pt;
    width: 100%;
    height: 19px;
}